<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="apple-touch-icon" href="images/iosicon.png" />
		
		{# for type,files in boost.includes }
			{# if type == "less" }
				{# for file in files }
				<link rel="stylesheet/less" type="text/css" href="{$file}" />
				{# endfor }
			{# endif }
		{# endfor }
		
		{# for type,files in boost.includes }
			{# if type == "css" }
				{# for file in files }
				<link rel="stylesheet" href="{$file}" />
				{# endfor }
			{# endif }
			{# if type == "js" }
				{# for file in files }
				<script type="text/javascript" src="{$file}"></script>
				{# endfor }
			{# endif }
		{# endfor }
		
		{# block head }
		<title>{#if global.title}{$global.title} - {#endif}My Webpage</title>
		{# endblock }
	</head>
	<body class="body-login">
		
	
		<div class="container-login">
			<div class="form-centering-wrapper">
				<div class="form-window-login">
					<div class="form-window-login-logo">
						<div class="login-logo">
							<img src="images/photon/login-logo@2x.png" alt="Photon UI"/>
						</div>
						<h2 class="login-title">Welcome to Mission Control!</h2>
						<div class="login-input-area">
							<form method="POST" action="">
								<span class="help-block">Login With Your Mission Control Account</span>
								<input type="text" name="email" placeholder="Email" data-name="email" data-require="true" data-include="true" data-type="email">
								<input type="password" name="password" placeholder="Password" data-name="password" data-include="true" data-require="true">
								<button type="submit" class="btn btn-large btn-success btn-login">Login</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			$(".btn-login").click(function(e) {
				e.preventDefault();
				e.stopImmediatePropagation();
				$("form").formapi({
					success: function(data) {
						console.log("data",data);
						$.apicall({
							method:		"login",
							params:		data,
							callback:	function(response) {
								console.log("response",response);
								document.location = document.location;
							}
						});
					}
				});
			});
		</script>
		
	</body>
</html>