{# extends "default/main.twig" }

{# block content }
<div class="container-fluid dashboard dashboard-title">
	<div class="row-fluid">
		<div class="span12">
			<h1 style="background-image:url('{$dashboard.icon}')">
				{$dashboard.name}
			</h1>
			<div class="btn-group">
				<button type="button" class="btn btn-gear dropdown-toggle" data-toggle="dropdown"></button>
				<ul class="dropdown-menu">
					<li><a href="javascript:;" class="add_widget" data-widget-type="realtime" data-widget="process">Process Monitor</a></li>
					<li><a href="javascript:;" class="add_widget" data-widget-type="realtime" data-widget="logs">Logs</a></li>
					<li><a href="javascript:;" class="add_widget" data-widget-type="realtime" data-widget="pushdata">Push Data</a></li>
					<li><a href="javascript:;" class="add_widget" data-widget-type="realtime" data-widget="users">Users</a></li>
					<li><a href="javascript:;" class="add_widget" data-widget-type="realtime" data-widget="growth">User Growth</a></li>
					<li><a href="javascript:;" class="add_widget" data-widget-type="realtime" data-widget="raceGrowth">Race Growth</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid dashboard dashboard-quick-launch">
	<div class="row-fluid">
		<div class="span12">
			<ul id="sortable">
				{# for mydashboard in dashboards }
				<li>
					<a href="/dashboard/{$mydashboard.uuid}" style="color:#ffffff;display:block;">
						<img src="{$mydashboard.icon}" alt="{$mydashboard.name}"/>
						<p>{$mydashboard.name}</p>
					</a>
				</li>
				{# endfor }
				
				<li class="add-ql">
					<a href="#modal_create_dashboard" data-toggle="modal">
						<div class="add-quick-launch" data-toggle="modal" id="addql"></div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid dashboard dashboard-widget-group">
	<div class="row-fluid">
		<div id="photon_widgets" class="span12 ui-sortable">
			<!-- WIDGETS -->
		</div>
	</div>
</div>


<!--Modal Dialogs' HTML begin-->
<div id="modal_create_dashboard" class="modal hide fade root">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Create a new Dashboard</h3>
	</div>
	<div class="modal-body">
		<div class="control-group row-fluid">
			<div class="span3">
				<label class="control-label" for="dashboard_name">Dashboard name</label>
			</div>
			<div class="span9">
				<div class="controls">
					<input id="dashboard_name" data-name="name" data-require="true" data-include="true" type="text" placeholder="Enter the name of your dashboard" name="inputFieldPlaceholder" />
				</div>
			</div>
		</div>
		<p class="alternative">Select an icon for your dashboard</p>
	</div>
	<div class="modal-body predefined-icons" style="height:175px;overflow:auto;">
		<ul>
			{# for icon in icons }
			<li data-set="#dashboard_icon" data-value="{$icon}"><img src="{$icon}" alt="Predefined"></li>
			{# endfor }
		</ul>
		<input type="hidden" id="dashboard_icon" data-name="icon" data-require="true" data-include="true" />
	</div>

	<div class="modal-footer">
		<a href="javascript:;" class="btn btn-primary create_dashboard" data-dismiss="modal">Create my Dashboard</a>
		<a href="javascript:;" class="btn" data-dismiss="modal">Cancel</a>
	</div>
</div>


<script type="text/javascript">
	var widgets;
	$(function() {
		widgets = new widgetsLoader({
			container: 	"#photon_widgets",
			dashboard:	'{$dashboard.uuid}'
		});
		
		// Load the widgets
		$.apicall({
			method:	"widget.get",
			params:	{
				dashboard:	'{$dashboard.uuid}',
				token:		"{$cookies.authtoken}"
			},
			callback:	function(data) {
				if (data.empty) {
					return false;
				}
				// Set the right settings
				var k;
				for (k in data) {
					widgets.widgets[k] = data[k];
				}
				widgets.load(data, function(chartName, chartData) {
					widgets.display(chartName, chartData);
				});
			}
		});
		
		// Handle the creation of new widgets
		$(".widgets_add").click(function() {
			$(this).parents(".root").formapi({
				success: function(data) {
					console.log("data",data);
					var i;
					var charts = {};
					for (i=0;i<data.widgets.length;i++) {
						charts[data.widgets[i]+"_"+(new Date().getTime())] = {
							chartType: 	"realtime",	// default to realtime chart
							type:		data.widgets[i]
						}
					}
					widgets.load(charts, function(chartName, chartData) {
						console.log(chartName,chartData);
						widgets.display(chartName, chartData);
					});
					
					// Save our new widget
					$.apicall({
						method:	"widget.save",
						params:	{
							widgets: 	charts,
							dashboard:	'{$dashboard.uuid}',
							token:		"{$cookies.authtoken}"
						}
					});
				}
			});
		});
		
		// Handle the creation of new widgets
		$(".add_widget").click(function() {
			var widget 	= $(this).attr("data-widget");
			var type 	= $(this).attr("data-widget-type");
			
			var charts = {};
			charts[widget+"_"+(new Date().getTime())] = {
				chartType:	type,
				type:		widget
			}
			
			widgets.load(charts, function(chartName, chartData) {
				widgets.display(chartName, chartData);
				// give it the proper order
				widgets.serialize();
			});
			
			// Save our new widget
			$.apicall({
				method:	"widget.save",
				params:	{
					widgets: 	charts,
					dashboard:	'{$dashboard.uuid}',
					token:		"{$cookies.authtoken}"
				}
			});
		});
		
		// Handle the creation of new dashboards
		$(".create_dashboard").click(function() {
			$(this).parents(".root").formapi({
				success: function(data) {
					console.log("data",data);
					
					// Save our new widget
					$.apicall({
						method:	"dashboard.create",
						params:	$.extend({
							token:		"{$cookies.authtoken}"
						},data),
						callback:	function(data) {
							document.location = "/dashboard/"+data.uuid;
						}
					});
				}
			});
		});
		
		
		var isDragActive = false;

		// Make widgets sortable
		$( "#photon_widgets" ).sortable({
			cancel: '.blank-widget, .flip-it',
			placeholder: 'dashboard-widget-placeholder',
			start: function(event, ui) {
				isDragActive = true;
				$('.widget-holder').addClass('noPerspective');
				$('.dashboard-quick-launch li img').tooltip('hide');
			},
			stop: function(event, ui) {
				isDragActive = false;
				$('.widget-holder').removeClass('noPerspective');
			},
			tolerance: 'pointer',
			beforeStop: function(event, ui) {
				widgets.serialize();
			}
		});
		
		$('.dashboard-quick-launch li img').not('.dashboard-quick-launch li:last-child').tooltip({
			placement: 'top',
			html: true,
			trigger: 'manual',
			title: '<a href="javascript:;"><span class="left">Edit</span></a><a href="javascript:;"><span class="right">Delete</span></a>'
		});
		
		$(".with-scroll").mCustomScrollbar({
			scrollButtons:{
	            enable:true
	        },
	        advanced:{
	            updateOnBrowserResize: true,
	            updateOnContentResize:true
	        }
		});
		
		$("[data-set]").click(function() {
			var value 	= $(this).attr("data-value");
			var el 		= $($(this).attr("data-set"));
			el.val(value);
			$(this).parent().children().removeClass("selected");
			$(this).addClass("selected");
		});
	});
</script>



{# endblock }