<div class="widget-holder root" data-name="%name%">
	<div class="widget-flipper">
		<div class="widget-area widget-latest-users widget-front">
			<div class="widget-head">
				Latest Registered Users
				<div>
					<a href="javascript:;" onclick="flipit(this)"><i class='icon-photon x_alt widget_settings_remove'></i></a>
					<img src="/images/photon/w_latest@2x.png" alt="latest users"/>
				</div>
			</div>
			<div style="width:300px;max-height:200px;">
				<ul class="userlist"></ul>
			</div>

		</div>

		<div class="widget-area widget-latest-users widget-back">
			<div class="widget-savehead">
				<a href="javascript:;" class="btn btn-mini btn-inverse" onclick="flipit(this)"><i class='icon-photon cog'></i>Done</a>
			</div>
			<form>
				<div class="container-fluid widget-settings">
					<div class="control-group row-fluid">
						<div class="span12">
							<label class="control-label">Filter by Location:</label>
						</div>
					</div>
					<div class="control-group row-fluid">
						<div class="span12">
							<div class="controls">
								<select>
									<option selected="" value="Any">Any</option>
									<option value="Europe">Europe</option>
									<option value="Asia">Asia</option>
									<option value="North America">America</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
					</div>

					<div class="control-group row-fluid">
						<div class="span12">
							<label class="control-label">Show Hidden</label>
						</div>
					</div>
					<div class="control-group row-fluid">
						<div class="span12">
							<div class="controls">
								<select>
									<option selected="" value="Yes">Yes</option>
									<option value="No">No</option>
									<option value="Only if Viking">Only if Viking</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>