<div class="nav-fixed-left" style="visibility: hidden">
	<ul class="nav nav-side-menu">
		<li class="shadow-layer"></li>
		<li>
			<a href="index" >
				<i class="icon-photon home"></i>
				<span class="nav-selection">Dashboards</span>
			</a>
			<ul class="nav">
				<li><a href=""></a></li>
			</ul>
		</li>
		<li>
			<a href="/races" >
				<i class="icon-photon steering_wheel"></i>
				<span class="nav-selection">Races</span>
			</a>
		</li>
		<li>
			<a href="/emails" >
				<i class="icon-photon mail"></i>
				<span class="nav-selection">Emails</span>
			</a>
		</li>
		<li>
			<a href="/users" >
				<i class="icon-photon user"></i>
				<span class="nav-selection">Users</span>
			</a>
		</li>
		<li>
			<a href="/surveys" >
				<i class="icon-photon equalizer"></i>
				<span class="nav-selection">Surveys</span>
			</a>
		</li>
		
		<li class="nav-logout">
			<a href="/logout">
				<i class="icon-photon key_stroke"></i><span class="nav-selection">Logout</span>
			</a>
		</li>
	</ul>
</div>