{# extends "default/main.twig" }

{# block content }
<div class="main-content retracted">
	<div class="breadcrumb-container">
		<ul class="xbreadcrumbs">
			<li>
				<a href="dashboard">
					<i class="icon-photon home"></i>
				</a>
			</li>
			<li>
				<a href="#">Races</a>
			</li>
			{# if uuid != false }
			<li class="current">
				<a href="#">{$selected.title}</a>
			</li>
			{# endif }
		</ul>
	</div>
	
	
	{$growth|json_encode}
	
	<form class="form-horizontal" style="margin-top:50px;">
		<div class="container-fluid">

			<div class="form-legend">Select a race</div>
			
			<div class="control-group row-fluid">
				<div class="span3">
					<label class="control-label" for="selectBoxFilter">Select a race</label>
				</div>
				<div class="span9">
					<div class="controls">
						<select name="selectRace" id="selectRace">
							<option value="">-- Select a race --</option>
							{# for uuid,race in races }
							<option value="{$uuid}">{$race.title}</option>
							{# endfor }
						</select>
					</div>
				</div>
			</div>
			
		</div>
	</form>
	
	
	{# if uuid != false }
	<form class="form-horizontal" style="margin-top:50px;">
		<div class="container-fluid">

			<div class="form-legend">{$selected.title}</div>
			
			<div class="control-group row-fluid">
				<div class="span3">
					<label class="control-label" for="selectBoxFilter">Reminder email</label>
				</div>
				<div class="span9 span-inset">
					<button class="btn" type="button" data-action="reminder.test">Test</button>
					<button class="btn btn-danger" type="button" data-action="reminder.send">Send</button>
				</div>
			</div>
			<div class="control-group row-fluid">
				<div class="span3">
					<label class="control-label" for="selectBoxFilter">Ranking</label>
				</div>
				<div class="span9 span-inset">
					<button class="btn btn-danger" type="button" data-action="ranking.send">Send</button>
				</div>
			</div>
			
		</div>
	</form>
	{# endif }
	
</div>

<script>
	$().ready(function(){
		$("#selectRace").select2().change(function() {
			if ($(this).val() != "") {
				document.location = "races?uuid="+$(this).val();
			}
		});
		
		
		$('[data-action]').click(function() {
			var action = $(this).data("action");
			switch (action) {
				default:
					alert("Unknown method '"+action+"'");
				break;
				case "reminder.test":
					$.apicall({
						method:	"reminder.send",
						params:	{
							uuid: 		'{$uuid}',
							testing:	true
						},
						callback: function(data) {
							console.log(data);
							alert("Mails: "+data.emails+"\nText Message: "+data.sms);
						}
					});
				break;
				case "reminder.send":
					$.apicall({
						method:	"reminder.send",
						params:	{
							uuid: 		'{$uuid}',
							testing:	false
						},
						callback: function(data) {
							console.log(data);
							alert("Mails: "+data.emails+"\nText Message: "+data.sms);
						}
					});
				break;
				case "ranking.send":
					$.apicall({
						method:	"ranking.send",
						params:	{
							uuid: 		'{$uuid}',
							testing:	false
						},
						callback: function(data) {
							console.log(data);
						}
					});
				break;
			}
		});
	});
</script>

{# endblock }